services:
  rabbitmq:
    image: rabbitmq:4-management
    ports:
      - "${RABBITMQ_PORT}:5672"
      - "${RABBITMQ_MANAGEMENT_PORT}:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5

  mongodb:
    image: mongo:latest
    ports:
      - "${MONGODB_PORT}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db

  api:
    build: 
      context: ./backend/
      dockerfile: Dockerfile
      target: ${BUILD_TARGET}
    ports:
      - "${API_PORT}:3000"
    depends_on:
      - mongodb
      - rabbitmq
    environment:
      MONGODB_URI: ${MONGODB_URI}
      NODE_ENV: ${NODE_ENV}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    volumes:
      - ./backend/:/usr/src/api

  go-worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    depends_on:
      rabbitmq:
        condition: service_healthy
      api:
        condition: service_started
    environment:
      RABBITMQ_URL: ${RABBITMQ_URL}
      RABBITMQ_QUEUE: ${RABBITMQ_QUEUE}
      API_URL: ${API_URL}

  python-collector:
    build: 
      context: ./collector
      dockerfile: Dockerfile
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      RABBITMQ_URL: ${RABBITMQ_URL}
      RABBITMQ_QUEUE: ${RABBITMQ_QUEUE}
      WEATHER_API_KEY: ${WEATHER_API_KEY}

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
      target: ${BUILD_TARGET}
    ports:
      - "${APP_PORT}:5173"
    depends_on:
      - api
    environment:
      VITE_API_URL: ${VITE_API_URL}
    volumes:
      - ./frontend/:/usr/src/app

volumes:
  rabbitmq_data:
  mongo_data:
